VITE_APP_NAME=Offline Cipher
VITE_APP_SHORT_NAME=Cipher
VITE_DEFAULT_ALGORITHM=A256GCM
VITE_QR_ERROR_CORRECTION=Q
VITE_QR_RENDER_SIZE=512
VITE_MAX_PLAINTEXT_BYTES=4096
VITE_ENABLE_RSA=true
VITE_ENABLE_ECDH=false
VITE_ENABLE_PRIVATE_KEY_EXPORT=false
VITE_AUTO_CLEAR_SECONDS=300
VITE_BUILD_SHA=development
